{% extends 'password/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4>Générateur de Mot de Passe</h4>
        </div>
        <div class="card-body">
          <form method="post" id="password-form" class="mx-auto">
            {% csrf_token %}
            <script src="{% static 'password/script.js' %}"></script>

            <!-- Échelle -->
            <div class="card mb-3">
              <div class="card-body text-center">
                <div class="mb-3">
                  <label id='scale-label' class="form-range-label" for="{{ form.scale.id_for_label }}">
                    {{ form.scale.label }}
                  </label>
                  {{ form.scale }}
                </div>
                <div class="d-flex justify-content-center mb-3">
                  <div class="form-check me-3">
                    <label class="form-check-label" for="{{ form.special.id_for_label }}">
                      {{ form.special.label }}
                    </label>
                    {{ form.special }}
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="{{ form.simple.id_for_label }}">
                      {{ form.simple.label }}
                    </label>
                    {{ form.simple }}
                  </div>
                </div>
                <div class="mt-3">
                  <p>Votre Mot de Passe est : <strong id='range_password_label'>{{ range_password }}</strong></p>
                </div>
                <div class="progress mb-3" id="progress_range" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <div id="striped_range" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
                </div>
                <div id="strength-text-range" class="mb-3"></div>
              </div>
            </div>

            <!-- Vérificateur de Mot de Passe -->
            <div class="card mb-3">
              <div class="card-body text-center">
                <div class="mb-3">
                  <label class="form-label" for="{{ form.password.id_for_label }}">
                    {{ form.password.label }}
                  </label>
                  {{ form.password }}
                </div>
                <div class="progress mb-3" id="progress_check" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <div id="striped_check" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
                </div>
                <div id="strength-text-check" class="mb-3"></div>
              </div>
            </div>

            <!-- Passphrase -->
            <div class="card mb-3">
              <div class="card-body text-center">
                <div class="mb-3">
                  <label class="form-label" for="{{ form.passphrase.id_for_label }}">
                    {{ form.passphrase.label }}
                  </label>
                  {{ form.passphrase }}
                </div>
                <div class="mt-3">
                  <p>Votre Passphrase est : <strong id='passphrase_created_label'>{{ passphrase_created }}</strong></p>
                </div>
              </div>
            </div>

            <!-- Passphrase -->
            <div class="card mb-3">
              <div class="card-body text-center">
                <div class="row align-items-center">
                  <div class="col">
                    <div class="mb-3">
                      <label id = "dico_scalelabel" class="form-label" for="{{ form.dico_scale.id_for_label }}">
                        {{ form.dico_scale.label }}
                      </label>
                      {{ form.dico_scale }}
                    </div>
                  </div>
                  <div class="col align-items-center">
                    <div class="mb-3">
                      <label class="form-label" for="{{ form.separator.id_for_label }}">
                        {{ form.separator.label }}
                      </label>
                      {{ form.separator }}
                    </div>
                  </div>
                <div class="mt-3">
                  <p>Votre Mot de Mots est : <strong id='passmot_label'>{{ passmot }}</strong></p>
                </div>
                
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
